{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    {{ include('article/includes/_articles-nav.html.twig') }}
    {% for message in app.flashes('has_article') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h2>Список статей</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th >Дата публикации</th>
                <th >Название</th>
                <th >Категория</th>
                <th >Подкатегория</th>
                <th >Активность</th>
                <th >{#Действия#}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.publicationDate ? article.publicationDate|date('j M Y') : '' }}</td>
                <td><a href="{{ path('app_article_show', {id: article.id}) }}">{{ article.title }}</a></td>
                <td>{{ article.category.name ?? 'Без категории' }}</td>
                <td>{{ article.subcategory.name ?? 'Без подкатегории'}}</td>
                <td>{{ article.active ? 'ДА' : 'НЕТ' }}</td>
                <td>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">[Редактировать]</a>
                    {#<a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    <p>Статей всего: {{ articles|length }}</p>
    {#<a href="{{ path('app_article_new') }}">Create new</a>#}
{% endblock %}
